.msgBox {
  background-color: var(--circle-color);
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.msg {
  display: flex;
  gap: 15px;
  align-items: center;
}

.select {
  padding: 5px 10px;
  background-color: var(--body-bg-color);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
}

.btns {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn {
  padding: 5pc 10px;
  border-radius: 5px;
}
