@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'plus-jskarta-sans';
  src: url('../../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'playfair-display';
  src: url('../../assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --body-bg-color: #F3F2EC;
  --grey: #9F9F9F;
  --black: #111111;
  --beige: #74642F;
  --light-beige: #888888;
  --dark: #222222;
  --dark-grey: #7A7A7A;
  --border-color: #C0C0C0;
  --circle-color: #D7D5CC;
  --section-background: #EDEBE4;
  --img-background: #EDEBE4;

  --main-font: 'plus-jskarta-sans', sans-serif;
  --titles-font: 'playfair-display', serif;

  --padding: 0 7%;
}

body {
  font-family: var(--main-font);
  color: var(--dark-grey);
  background-color: var(--body-bg-color);
  overflow-x: hidden;
}

.root {
  padding: var(--padding);
}

main {
  display: flex !important;
  flex-direction: column;
  gap: 5rem;
  margin-top: 5rem;
}

.err {
  border: 1px solid red;
}

.danger {
  color: hsl(0 75% 60% / 1);
  font-weight: bold;
}
